# Gradle files
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, keystore passwords, etc.)
local.properties

# Log/OS files
*.log
*.iml

# Android Studio files
.idea/
.cache/
captures/
.externalNativeBuild/
.cxx/
.navigation/

# Intellij
out/

# Keystore files
*.jks
*.keystore

# Application files
*.apk
*.ap_
*.aab

# Misc
.DS_Store
